# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales y de backup
*.tmp
*.bak
*.swp
*.swo

# Archivos de entorno
.env
venv/
.env.local
# Archivos de configuración de editores
.vscode/
.idea/

# Archivos binarios y PDFs (opcional, descomenta si no quieres subirlos)
# *.pdf
# *.png

# Archivos de Python
__pycache__/
*.pyc

# Archivos de dependencias
requirements.txt

# Otros
node_modules/

# Archivos de salida
*.log
*.out